<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="uespoir_connectionString" connectionString="Data Source=POTEAU-PC\SQLSERVER_2016;Initial Catalog=UEspoirDB;User ID=lpqc;Password=jesusestsauveur" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="Version" value="1.0"/>

  </appSettings>
  <system.web>
    <httpRuntime requestValidationMode="4.5"  
            executionTimeout="100000" 
            maxRequestLength="30000000" />
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <!--<add assembly="DocumentFormat.OpenXml, Version=2.5.5631.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>-->
        <add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
  </system.web>
  <system.webServer>
  <security>
    <requestFiltering>
      <requestLimits maxAllowedContentLength="1073741824" />
    </requestFiltering>
  </security>
</system.webServer>
</configuration>